.Function {
	background-color: #463c2d;
	/* Test */
	background: linear-gradient(45deg, rgb(97, 76, 39) 0%, rgb(70, 60, 45) 100%);
	border-bottom: 4px solid rgb(124, 93, 61);
	padding: 10px;
	border-radius: 4px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: white;
	display: flex;
}

.LocalFunction {
	background-color: #48372d;
	border-bottom: 4px solid rgb(112, 92, 73);
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
	margin-right: 10px;
	color: white;
}

.Content {
	flex: 1;
	/*
	padding: 0;
	margin: 0;
	*/
	max-width: 100%;
	padding-right: 0;
}

/* Sandbox should be different depending on context */
.Sandbox {
	background-color: #0003;
	color: orange;
	font-weight: bold;
	font-size: 12px;
	padding: 2px 5px 4px 5px;
	border-radius: 10px;
	margin-left: 5px;
}

.NamePragma {
	transition: width 0.1s;
	content: url(pragma.svg);
	width: 16px;
	height: 16px;
	padding-right: 5px;
	margin-bottom: -2px;
	width: 0px;
}

.Name {
	color: white;
	/*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
	font-size: 20px;
	cursor: pointer;

	&:hover {
		border-bottom: 2px solid white;
		transition: border-radius 0.1s;
		border-radius: 0px;

		.NamePragma {
			transition: width 0.1s;
			width: 16px;
		}
	}
}

/* Function call information. Code example */
.Call {
	background-color: #1b1b1b;
	border-bottom: 4px solid #3c2d20;
	font-size: 14px;
	padding: 10px 5px 10px 10px;
	word-wrap: break-word;
	white-space: pre-wrap;
	border-radius: 5px 5px 10px 10px;
}

.CallName {
	color: #709f70;
}

.ContentAnimation {
	transition: max-width 0.5s;
	max-width: 100%;
	flex: 1;

	&.Editor {
		max-width: 50%;
	}
}

@media (max-width: 768px) {
	.ContentAnimation {
		max-width: 100% !important;
	}
}

.Params {
	background-color: #1b1b1b;
	border-bottom: 4px solid #3c2d20;
	border-radius: 5px 5px 10px 10px;
	font-size: 14px;
	padding: 2px;
	margin: 0;
	margin-top: 5px;

	& ul {
		list-style: circle;

		& li {
			margin-bottom: 10px;
		}
	}
}

.ParamLabel {
	font-size: 16px;
	margin-top: 5px;
	margin-left: 5px;
}

.ParamName {
	font-weight: bold;
	white-space: pre-wrap;
	word-break: break-all;
}

.ParamType {
	font-style: italic;
	word-break: break-word;

	&::before {
		content: ' <';
		color: #f70;
	}

	&::after {
		content: '>';
		color: #f70;
	}
}
	
.ParamSeparator::after {
	content: ', ';
	color: #f70;
}

.Description {
	padding-left: 10px;
	font-size: 16px;
	word-break: break-word;
	
	& a {
		color: rgb(247, 212, 54);
	}

	& p {
		margin: 10px 0;
	}

	& code {
		background-color: #0003;
		padding: 2px 4px;
		border-radius: 4px;
	}
}

/* Editor styles */
.EditButton {
	transition: background-color 0.3s, opacity 0.2s;
	background-color: #1b1b1b;
	border-bottom: 4px solid #3c2d20;
	border-radius: 5px 5px 10px 10px;
	padding: 2px 12px;
	float: right;
	user-select: none;
	cursor: pointer;
	opacity: 0.2;

	&:hover {
		background-color: #520;
	}

	&:active {
		background-color: #740;
	}
}

.Function:hover .EditButton {
	transition: background-color 0.3s, opacity 0.2s;
	opacity: 1;
}

@media (max-width: 768px) {
	.EditButton {
		display: none;
	}
}
