:root {
	--navbar-height: 0px;
}

#viewer {
	overflow: hidden;
	display: flex;
}

#summary {
	background-color: #222;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	position: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: thin;
	width: 250px;
	z-index: 999;
	min-width: 250px;
	height: 100vh;
}

#overview {
	background-color: #333;
	color: white;
	position: fixed;
	width: calc(100% - 250px);
	height: calc(100vh - var(--navbar-height));
	left: 250px;
	overflow-y: scroll;
}

@media (max-width: 768px) {
	#overview {
		position: unset;
		width: 100%;
	}
}

#searchBar {
	background-color: #333;
	padding: 5px;
	width: 100%;
	border: none;
	margin-bottom: 5px;
	font-size: 14px;

	color: white;
}

#searchBar:focus {
	outline-width: 0;
	outline: none;
	border: none;
}

#save-modal {
	transition: opacity 0.1s;
	background-color: #0007;
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: 9999;
	opacity: 0;
	user-select: none;
	pointer-events: none;
}

#save-modal.save-modal-visible {
	opacity: 1;
	user-select: initial;
	pointer-events: initial;
}

/* Remove blue outline */
.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
	background-color: transparent !important;
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label:hover {
	background-color: transparent !important;
}

.MuiTreeItem-root.Mui-selected:focus > .MuiTreeItem-content .MuiTreeItem-label {
	background-color: transparent !important;
}

/* Custom TreeView styles */
.MuiTreeItem-root {
	user-select: none;
}

.MuiCollapse-wrapperInner > .MuiTreeItem-root > .MuiTreeItem-content {
	transition: background-color 0.6s;
	padding: 2px 2px 2px 0;
	border-radius: 20px;
	margin-bottom: 2px;
}

.MuiCollapse-wrapperInner > .MuiTreeItem-root > .MuiTreeItem-content > .MuiTreeItem-root:hover {
	transition: background-color 0.6s;
	background-color: #333;
}

.MuiCollapse-wrapperInner > .Mui-selected > .MuiTreeItem-content {
	transition: background-color 0.3s;
	background-color: #444;
}