:root {
	--navbar-height: 0px;
}

#viewer {
	overflow: hidden;
	display: flex;
}

#summary {
	background-color: #222;
	position: fixed;
	height: calc(100vh - var(--navbar-height));
	overflow-x: hidden;
	overflow-y: scroll;
	width: 250px;
	max-width: 250px;
	scrollbar-width: thin;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

#overview {
	background-color: #333;
	color: white;
	position: fixed;
	width: calc(100% - 250px);
	height: calc(100vh - var(--navbar-height));
	left: 250px;
	overflow-y: scroll;
}

#editor {
	background-color: #222;
	flex: 1;
}

#searchBar {
	background-color: #333;
	padding: 5px;
	width: 100%;
	border: none;
	margin-bottom: 5px;
	font-size: 14px;

	color: white;
}

#searchBar:focus {
	outline-width: 0;
	outline: none;
	border: none;
}

#save-modal {
	transition: opacity 0.1s;
	background-color: #0007;
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: 9999;
	opacity: 0;
	user-select: none;
	pointer-events: none;
}

#save-modal.save-modal-visible {
	opacity: 1;
	user-select: initial;
	pointer-events: initial;
}



.MuiTreeItem-content {
	user-select: none;
	background-color: #1d1d1d;
}

.Mui-expanded > .MuiTreeItem-content {
	background-color: #072;
	transition: background-color 0.1s;
}

.Mui-expanded > .MuiTreeItem-content .MuiTreeItem-label {
	background-color: #fff3;
}

.MuiTreeItem-root {
	background-color: initial;
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
	background-color: #fff3 !important;
}

.Mui-expanded.MuiTreeItem-root {
	background-color: #333;
}

.MuiTreeItem-iconContainer {
	width: 0px;
}

.MuiTreeItem-group .MuiTreeItem-content {
	background-color: #222;
	border-radius: 0;
	border: none;
}
