@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	/*
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans','Droid Sans', 'Helvetica Neue', sans-serif;
	*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code, pre, pre span {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	/*font-family: 'Roboto Mono', monospace;*/
}

::-webkit-scrollbar {
    height: 16px;
    width: 16px;
    background: #1b1b1b;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
	width: 18px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
	width: 18px;
}

::-webkit-resizer {
	display: none;
}

::-webkit-scrollbar-corner {
	display: none;
}

#viewer {
	overflow: hidden;
	display: flex;
}

#summary {
	background-color: #222;
	position: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: thin;
	width: 250px;
	z-index: 999;
	min-width: 250px;
	height: 100vh;
}

#overview {
	background-color: #333;
	color: white;
	position: fixed;
	width: calc(100% - 250px);
	left: 250px;
	overflow-y: scroll;
	height: 100%;
	padding-bottom: 10px;
}

@media (max-width: 768px) {
	#overview {
		position: unset;
		width: 100%;
	}
}

#searchBar {
	background-color: #333;
	padding: 5px;
	width: 100%;
	border: none;
	margin-bottom: 5px;
	font-size: 14px;

	color: white;
}

#searchBar:focus {
	outline-width: 0;
	outline: none;
	border: none;
}

#save-modal {
	transition: opacity 0.1s;
	background-color: #0007;
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: 9999;
	opacity: 0;
	user-select: none;
	pointer-events: none;
}

#save-modal.save-modal-visible {
	opacity: 1;
	user-select: initial;
	pointer-events: initial;
}

/* Remove blue outline */
.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
	background-color: transparent !important;
}

.MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label:hover {
	background-color: transparent !important;
}

.MuiTreeItem-root.Mui-selected:focus > .MuiTreeItem-content .MuiTreeItem-label {
	background-color: transparent !important;
}

/* Custom TreeView styles */
.MuiTreeItem-root {
	user-select: none;
}

.MuiCollapse-wrapperInner > .MuiTreeItem-root > .MuiTreeItem-content {
	transition: background-color 0.6s;
	padding: 2px 2px 2px 0;
	border-radius: 20px;
	margin-bottom: 2px;
}

.MuiCollapse-wrapperInner > .MuiTreeItem-root > .MuiTreeItem-content > .MuiTreeItem-root:hover {
	transition: background-color 0.6s;
	background-color: #333;
}

.MuiCollapse-wrapperInner > .Mui-selected > .MuiTreeItem-content {
	transition: background-color 0.3s;
	background-color: #444;
}