.Navbar {
	background-color: #111;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
	text-align: left;
}

body {
	padding-top: 40px;
}

.Item {
	background-color: #111;
	color: #fff;
	display: inline-block;
	padding: 14px 20px;
	user-select: none;

	&:hover {
		background-color: #333;
		transition: 0.2s;
	}
}

.ActiveItem {
	background-color: #685;
	color: #fff;
	display: inline-block;
	padding: 14px 20px;
	user-select: none;
	text-decoration: none;

	&:hover {
		background-color: #222;
		transition: 0s;
	}
}
