body {
	background-color: #222;
	color: #fff;
}

a {
	color: #02e37a;
	text-decoration: none;
}

.AppBody {
	margin-right: 10%;
	margin-left: 10%;
	padding: 10px;
}

/* Phone css */
@media (max-width: 768px) {
	.AppBody {
		margin-right: 2%;
		margin-left: 2%;	
	}
}